.validating-modal-container {

    .button-style {
        background-color: var(--apex-primary);
        font-size: 16px;
        width: 119px;
        height: 44px;
        font-weight: 700;
        ;
        color: var(--apex-menu-bar-text-color)
    }

    .button-style:hover {
        background-color: var(--apex-secondary);
        color: var(--apex-menu-bar-text-color)
    }

    .button-style-disabled {
        background-color: #0d6efd !important;
        font-size: 16px;
        width: 119px;
        height: 44px;
        font-weight: 700;
        color: white !important;
        opacity: var(--bs-btn-disabled-opacity);
    }

    .cancel-button-style {
        background-color: var(--apex-menu-bar-text-color);
        font-size: 16px;
        width: 119px;
        height: 44px;
        font-weight: 700;
        color: black;
        border-color: var(--apex-primary)
    }

    .cancel-button-style:hover {
        background-color: white;
        color: var(--apex-primary);
        border-color: var(--apex-primary)
    }

    .dialog-heading {
        font-family: Helvetica;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: -0.5px;
        text-align: center;
    }


}

.modal-width {
    width: 394px !important;
}