.group-notification {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


    .chat-count {
        position: absolute;
        top: -8px;
        right: -8px;
        background: #ff4d4d;
        color: #fff;
        font-size: 9px;
        font-weight: bold;
        width: 18px;
        height: 17px;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.admin-dropdown-section{
    .collapse-animation {
        animation: collapse 0.3s ease-out forwards;
      }
      
      .expand-animation {
        animation: expand 0.3s ease-out forwards;
      }
      
      @keyframes collapse {
        from {
          transform: scaleY(1);
          opacity: 1;
        }
        to {
          transform: scaleY(0);
          opacity: 0;
        }
      }
      
      @keyframes expand {
        from {
          transform: scaleY(0);
          opacity: 0;
        }
        to {
          transform: scaleY(1);
          opacity: 1;
        }
      }
}