.group-notification {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


    .chat-count {
        position: absolute;
        top: -8px;
        right: -8px;
        background: #ff4d4d;
        color: #fff;
        font-size: 9px;
        font-weight: bold;
        width: 18px;
        height: 17px;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}