// .grid-container {
//     display: grid;
//     grid-template-columns: auto auto auto auto auto auto auto;
//     padding: 15px;
//     gap: 15px;
//     overflow-y: auto !important;
//     height: 98%;
// }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    padding: 10px;
    gap: 15px;
    overflow-y: auto !important;
    overflow-x: hidden;
    height: 87%;
    box-sizing: border-box; 
}

.group-grid-height{
    height: 45.6%;
}

.recent-discussion-height{
    height: 48.3%;
}

.height-30{
    height: 30%;
}

.discussion-list-height{
    height: 44%;
}