.filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-buttons {
    display: flex;
    gap: 10px;
}

.filter-heading {
    font-size: 24px;
    font-weight: 500;
}

.filter-buttons button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.filter-buttons button:hover {
    background-color: #0056b3;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.search-bar button:hover {
    background-color: #218838;
}