@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.max-width{
width: -webkit-fill-available;
}

.form-input-group-width{
  width: 450px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 18px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 18px;
  border: 3px solid #c1c1c1;
}

.about-user-width{
  width: 80vw;
}
.about-user-height{
  height:75vh;
}

.form-content-height{
  height:65vh;
}

:root {
  --top-menu-height: 48px; 
}