@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
      --apex-primary: #002F93 ;
    --apex-secondary:#1D48A4;
    --apex-lightgrey: #D9D9D9;
    --apex-lightblue: #DEE7FC80;
    --apex-disabledbtn: #778dbc;
    --apex-vertical-line:rgb(220, 228, 232);
    --apex-menu-bar-text-color:white;
    --apex-list-background-color:#e8edf6;
    --apex-form-background-color:#F8F8FC;
    --apex-form-input-color:#202020;
    --apex-form-input-background-color:#E5E5E580;
    
    --sidebar-width:170px;
    --primary-fontsize:16px;
    --secondary-fontsize:14px;
    --table-title-fontsize:18px;
    --table-data-row-height:40px;
    --table-header-row-height:49px;
    --table-font-weight:400;
    --header-height:151px;
    --table-header-background:#f2f3f3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.max-width{
width: -webkit-fill-available;
}

.form-input-group-width{
  width: 450px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 18px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 18px;
  border: 3px solid #c1c1c1;
}

.about-user-width{
  width: 80vw;
}
.about-user-height{
  height:75vh;
}

.form-content-height{
  height:65vh;
}

:root {
  --top-menu-height: 48px; 
}

.modal-background-color{
  background-color: #7f7f7f;
}