.dark .custom-multiselect-styles{

    //  .rmsc .dropdown-container {
    //     background-color: #f0f0f0; /* Change background color */
    //     color: #333; /* Change text color */
    //     border: 1px solid #ccc; /* Change border color */
    //   }
      
    //    .rmsc .dropdown-heading {
    //     color: #007bff; /* Change header text color */
    //   }
      
    //    .rmsc .dropdown-content {
    //     background-color: #ffffff; /* Dropdown background */
    //   }
      
    //    .rmsc .option {
    //     color: #000; /* Option text color */
    //   }
      
    //    .rmsc .option:hover {
    //     background-color: #007bff; /* Hover background color */
    //     color: #fff; /* Hover text color */
    //   }
      
    //    .rmsc .grayed {
    //     color: #999; /* Disabled option color */
    //   }

        .dropdown-container {
        background-color: rgb(107 114 128 ) !important;
        color: rgb(245, 247, 247) !important;

         .form-control::placeholder {
            color: rgb(245, 247, 247) !important
          }

          .dropdown-heading{
            .gray{
                color: rgb(245, 247, 247) !important ;
            }
          }
      }

       .dropdown-content div, input{
        background-color: rgb(107 114 128 ) !important;
        color: rgb(245, 247, 247) !important;
      }

      .dropdown-content .select-item:hover{
        background-color: rgb(156, 161, 172) !important;
        color: rgb(245, 247, 247) !important;

         div,span{
                background-color: rgb(156, 161, 172) !important;
                color: rgb(245, 247, 247) !important;
        }
      }

      .dropdown-content .select-item.selected{
        background-color: rgb(156, 161, 172) !important;
        color: rgb(245, 247, 247) !important;

        div,span{
                background-color: rgb(156, 161, 172) !important;
                color: rgb(245, 247, 247) !important;
        }
      }



}