.dark .custom-multiselect-styles{

        .dropdown-container {
        background-color: rgb(107 114 128 ) !important;
        color: rgb(245, 247, 247) !important;

         .form-control::placeholder {
            color: rgb(245, 247, 247) !important
          }

          .dropdown-heading{
            .gray{
                color: rgb(245, 247, 247) !important ;
            }
          }
      }

       .dropdown-content div, input{
        background-color: rgb(107 114 128 ) !important;
        color: rgb(245, 247, 247) !important;
      }

      .dropdown-content .select-item:hover{
        background-color: rgb(156, 161, 172) !important;
        color: rgb(245, 247, 247) !important;

         div,span{
                background-color: rgb(156, 161, 172) !important;
                color: rgb(245, 247, 247) !important;
        }
      }

      .dropdown-content .select-item.selected{
        background-color: rgb(156, 161, 172) !important;
        color: rgb(245, 247, 247) !important;

        div,span{
                background-color: rgb(156, 161, 172) !important;
                color: rgb(245, 247, 247) !important;
        }
      }
    }